/*
 * For the tooltips on the timelines
 */

div#tooltip{
  position: absolute;
  background: silver;
  padding: 6px;
  border: 1px solid black;
  width: 200px;
  /*height: 40px;*/
  z-index: 999;
  /*visibility: hidden;*/
  display: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div#tooltip .title{
  font-weight: bold;
}
div#tooltip .title a{
  color: #427597;
}


.er-needs-review-label{
  color: red;
  font-weight: bold;
}

/*
 * Theming for the create content links
 * this is deprecated..?
 */
nav#er-content-links > div.item-list{
  float: left;
  width: 240px;
  white-space: normal;
}

nav#er-content-links ul{
  list-style-image: url('../../../themes/epscor/images/icons/16/Add.png');
}

/* used in the new create content pages: node/add2, node/add3 */
nav.full .item-list{
  margin-bottom: 40px;
}

/*
 * This is used on the summary table to change the look of the date range form.
 */
.fake-inline .container-inline-date{
  display: inline;
}

.fake-inline input[type="submit"]{
  margin-top: 50px;
}


/* this is to compact the form
form#user-profile-form .form-type-textfield label {
  float:left;
  width:190px;
  text-align:left;
  padding-right:10px;
}
form#user-profile-form .form-type-textfield textarea, form#user-profile-form .form-type-textfield .form-text {
  width:300px;
}

form#user-profile-form .form-type-textfield .description, form#user-profile-form .form-type-textfield .grippie, form#user-profile-form .form-type-textfield .form-submit {
  margin-left:200px;
  width:300px;
}
*/

.er-collab-inst-block-view{
  padding: 15px;
  float: right;
}

table.er-external-engagements-view-table td.header{
  font-size: 1.1em;
  font-weight: bold;
}

table.er-external-engagements-view-table td.sub-header{
  font-weight: bold;
  font-style: italic;
}

table.er-external-engagements-view-table td.table-field_er_tot_total,
table.er-external-engagements-view-table td.table-field_er_tot_male,
table.er-external-engagements-view-table td.table-field_er_tot_female,
table.er-external-engagements-view-table td.table-field_er_tot_urm{
  font-weight: bold;
  font-style: italic;
}

.er-documentation-notification{
  font-weight: bold;
  font-size: 1.1em;
}

@media print {
 #er-help > *{display:block !important;}
}

/*ERCore Dashboard Styles*/

#dashboard-complete{
	border:solid thin rgb(192, 192, 192);
    padding:1em;
    margin-top:1em;
    margin-bottom:1em;
    width:45%;
   float:left;
   clear:left;
 	display: inline-block;
}

#dashboard-incomplete{
	border:solid thin rgb(192, 192, 192);
    padding:1em;
    margin-top:1em;
    margin-bottom:1em;
    width:45%;
 	display: inline-block;
   float:left;
}

#dashboard-team-content{
	width:45%;
	float:right;
	border:solid thin rgb(192, 192, 192);
 	padding:1em;
    margin-top:1em;
    margin-bottom:1em;	
}

#dashboard-complete a,
#dashboard-incomplete a {
    font-size:105%;
}

#dashboard-complete em,
#dashboard-incomplete em{
    color:#666;
}


#dashboard-complete h2,
#dashboard-incomplete h2{
    border-bottom:solid thin #ccc;
}

/*My Content Incomplete - Heading */
#dashboard-incomplete fieldset legend{
    background-color:#8e0c0d;
 	color:#fff;
    text-shadow: none;
}

/*My Content Completed - Heading */
#dashboard-complete fieldset legend {
    background-color:#336666;
     text-shadow: none;
    color:#fff;
}

/*My Team Content - Heading */
#dashboard-team-content fieldset legend{
	background-color:#666;
     text-shadow: none;
    color:#fff;
}

#dashboard-complete li
#dashboard-incomplete li {
    margin-left:1em;
    margin-bottom:1em;
    padding-bottom:1em;
    border-bottom:dotted thin #ccc;
}

#dashboard-complete h4.status,
#dashboard-incomplete h4.status{
    color:#8e0c0d;
    font-size:90%;
    font-weight:bold;
    display:inline;
}

#dashboard-complete .dashboard-warning,
#dashboard-incomplete .dashboard-warning{
    background:#f2dede;
    font-size:90%;
    padding:.5em 2em;
    border-radius: 4px;
    margin:1em 0 .35em 0;
    float:left;
    display:block;
    clear:both;
    width:85%;
}

#dashboard-complete .dashboard-warning strong,
#dashboard-incomplete .dashboard-warning strong{
    color:#a94442;
}

#dashboard-complete .button-make-valid,
#dashboard-incomplete .button-make-valid{
    color: #20B2AA;
    border:solid thin #336666;
    font-size:80%;
    padding:.35em 2em;
    margin: .5em 0 .5em 0;
    border-radius: 4px;
    display:inline-block;
    width:50%;
    text-align:center;
}

#dashboard-complete .button-make-valid a,
#dashboard-incomplete .button-make-valid a{
    color: #336666;
    text-decoration:none;  
    text-transform:uppercase;
}
